<form id="create-order">
    <label for="info">Info:</label>
    <textarea name="info" id="info" ng-model="order.info">

    </textarea>

    <button name="create" id="btn-create" type="button" ng-click="$ctrl.create()">{{$ctrl.action}}</button>
    <button name="cancel" id="btn-cancel" type="reset">Cancel</button>
</form>