<div class="view-customer">
    <div class="update-customer">
        <h1>Update customer</h1>
        <customer-form action="'Update'" customer="customer"></customer-form>
    </div>

    <div>
        <h1>Orders</h1>

        <div class="create-order">
            <order-form action="'Add'"></order-form>
        </div>

        <order-list></order-list>
    </div>
</div>
