form {
    display: grid;
    grid-template-columns: 120px auto;
    grid-row-gap: .7em;
}

#balance {
    width: 60px;
}

form > button {
    width: 90px;
}

.create-customer, .view-customer, .customers {
    margin: auto;
    width: 70%;
}

.view-customer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
    position: relative;
}

ul > li {
    background: #e1e5f9;
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: .3em;
    padding: .5em;
}

ul > li:nth-child(2n) {
    background: #f9f7e8;
}

.orders > ul i {
    color: #a62820;
    cursor: pointer;
    position: absolute;
    right: .3em;
}

.feedback {
    background: #fff9a4;
    display: none;
    padding: 1em;
    transition: all 1s;
}