<div id="orders" class="orders">
    <h2>List of orders</h2>
    <p ng-if="orders.length == 0">No orders exist yet</p>

    <ul>
        <li ng-repeat="order in orders">
            <a ui-sref="customer_view({uuid: order.id})">
                {{order.id}}
            </a>
            <i class="fa fa-times" aria-hidden="true" title="Delete order" ng-click="$ctrl.delete(order)"></i>
        </li>
    </ul>
</div>