<div id="customers" class="customers">
    <h1>List of customers</h1>
    <p ng-if="customers.length == 0">No customers exist yet</p>

    <ul>
        <li ng-repeat="customer in customers">
            <a ui-sref="customer_view({uuid: customer.id})">
                {{customer.firstName}} {{customer.lastName}}
            </a>
        </li>
    </ul>
</div>