<form id="create-customer">
    <label for="firstName">First name:</label>
    <input name="firstName" id="firstName" type="text" ng-model="customer.firstName"/>

    <label for="lastName">Last name:</label>
    <input name="lastName" id="lastName" type="text" ng-model="customer.lastName"/>

    <label for="balance">Balance:</label>
    <input name="balance" id="balance" type="number" ng-model="customer.balance"/>

    <button name="create" id="btn-create" type="button" ng-click="$ctrl.save()">{{$ctrl.action}}</button>
    <button name="cancel" id="btn-cancel" type="reset">Cancel</button>

    <div class="feedback" ng-show="showFeedback">Saved customer</div>
</form>